# Node Modules
node_modules/
.npm/

# Build Files
.next/
out/
dist/
.vercel/
.vscode/

# Logs & Dependencies
package-lock.json
yarn.lock
pnpm-lock.yaml
*.log

# Environment Variables
.env
.env.local
.env.development
.env.production

# Misc
.DS_Store
Thumbs.db
